sphinx>=3.4
sphinxcontrib-plantuml

# Always use latest code from master
git+https://github.com/useblocks/sphinxcontrib-needs@master

sphinx-copybutton
sphinxcontrib-programoutput
sphinx-panels
pydata-sphinx-theme
ablog
MyST-Parser
