sphinx==7.2.6
sphinxcontrib-plantuml

# Always use latest code from master
#git+https://github.com/useblocks/sphinxcontrib-needs@master
sphinx-needs[plotting]

sphinx-copybutton
sphinxcontrib-programoutput
sphinx-design==0.5.0
pydata-sphinx-theme==0.14.4
ablog==0.11.6
MyST-Parser
sphinxcontrib-bibtex
sphinxcontrib-plantuml